<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/courses/create">dang khoa hoc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/me/stored/courses">Khoa hoc cua toi</a>
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>