<div class="row">
    <div class="col-lg-3">HỌC NGAY</div>
    <div class="col-lg-9">
        <div class="title"><h1>{{course.name}}</h1></div>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="des"><p>{{course.description}}</p></div>
    </div>
</div>